<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631419858227-k61quel15pnel3u9rhn4ack6hdjlr28o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631419858227-k61quel15pnel3u9rhn4ack6hdjlr28o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>631419858227-th5proljpupk2b30fs8qcemvsns71cuc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSRd4QsEMg3yYcxVc95NOyH4BtRQR98vM</string>
	<key>GCM_SENDER_ID</key>
	<string>631419858227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ERPMarketNewApp.app</string>
	<key>PROJECT_ID</key>
	<string>erpmarketnewapp</string>
	<key>STORAGE_BUCKET</key>
	<string>erpmarketnewapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631419858227:ios:6b5a6e4fe8021371b92246</string>
</dict>
</plist>